<!DOCTYPE HTML>
<html lang=en>
<head>
    <meta charset=<% settings.charset %>>
    <title><% IF title %><% title %> | <% END %>CPAN::Changes Kwalitee Service</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="<% request.base %>css/bootstrap.min.css" rel="stylesheet">
    <link href="<% request.base %>css/sticky-footer-navbar.css" rel="stylesheet">
    <style type="text/css">
.navbar-brand > span {
    color: #fff;
    background-color: #999;
    border-radius: 12px;
    padding: 2px 7px;
    font-weight: bold;
}

.navbar-brand .glyphicon-ok, tr.progress .glyphicon-ok, #recent .glyphicon-ok {
    color: palegreen;
}

#recent .glyphicon-remove {
    color: darkred;
}

tr.progress th, tr.progress td {
    color: #fff;
    background-color: #999;
    font-weight: bold;
}

.navbar-form button {
    margin-left: 6px;
}

.multicol {
    -moz-column-width: 250px;
    -webkit-column-width: 250px;
    -moz-column-gap: 20px;
    -webkit-column-gap: 20px;
    -moz-column-count: 3;
    -webkit-column-count: 3;
}

ul.multicol {
    list-style-type: none;
    margin-bottom: 0;
}

.multicol li {
    margin-bottom: 2px;
    padding-bottom: 2px;
}

.panel-heading h3 {
    margin-top: 0;
    margin-bottom: 0;
}

form#validator textarea {
    font-family: monospace;
}
    </style>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <link rel="alternate" type="application/atom+xml" title="Recent Releases" href="<% request.base %>recent/feed" />
<% FOREACH link IN header_links %>
    <link rel="<% link.rel %>" type="<% link.type %>" title="<% link.title %>" href="<% link.href %>" />
<% END %>
</head>
<body>

<div id="wrap">

<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="<% request.base %>"><span><span class="glyphicon glyphicon-ok"></span> CCKS</span></a>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a href="<% request.base %>news">News</a></li>
      <li><a href="<% request.base %>dist">Distributions</a></li>
      <li><a href="<% request.base %>author">Authors</a></li>
      <li><a href="<% request.base %>validate">Validator</a></li>
      <li><a href="<% request.base %>hof">Hall of Fame</a></li>
      <li><a href="http://metacpan.org/module/CPAN::Changes::Spec">CPAN::Changes Spec</a></li>
    </ul>
    <form class="navbar-form navbar-right" role="search" action="<% request.base %>search" method="get">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</nav>

    <% content %>

</div>

<div id="footer">
  <div class="container">
    <p>CPAN::Changes version <% scan.cpan_changes_version %> / Spec version 0.04</p>
    <p>Last Updated: <% scan.run_date.ymd %> <% scan.run_date.hms %></p>
  </div>
</div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-41027231-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</html>
