<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2><span class="glyphicon glyphicon-globe"></span> News</h2>
<% PROCESS 'news-items.tt' %>
        </div>
    </div>
</div>
