html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

#footer {
  height: 60px;
  background-color: #f5f5f5;
}

#footer .container {
  border-top: 1px solid #e7e7e7;
  padding-top: 10px;
}

#footer p {
  text-align: right;
  margin: 0;
  padding: 0;
}
