html, body {
    height: 100%;
    margin: 0;
}

body {
    color: #000;
    font-family: "helvetica neue",helvetica,Arial;
    font-size: 14px;
}

#header, #footer {
    background: #333;
    color: #fff;
}

h1 {
    width: 960px;
    font-family: 'Bevan', arial, serif;
    font-size: 36px;
    font-weight: normal;
    margin: 0 auto;
    line-height: 76px;
    text-shadow: #999 -1px -1px;
}

#menu {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    background: #ccc;
    font-family: 'Tinos', arial, serif;
    font-size: 19px;
    height: 29px;
}

#menu ul {
    width: 960px;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}

#menu li {
    float: left;
    margin: 0;
    padding: 0;
}

#menu a {
    display: block;
    line-height: 29px;
    padding: 0 10px;
    text-decoration: none;
    color: #000;
    border-bottom: none;
}

#menu a:hover {
    background: #666;
    color: #eee;
}

.clear {
    clear: both;
}

#content {
    width: 960px;
    margin: 10px auto;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -62px;
}

#push {
    height: 62px;
}

#footer {
    height: 42px;
}

#footer {
    padding: 10px 0;
    border-top: 1px solid #000;
    font-family: 'andale mono','lucida console',monospace;
    font-size: 14px;
}

#footer p {
    text-align: right;
    width: 960px;
    margin: 0 auto;
    padding: 2px 0;
}

#status {
    border: 2px solid #333;
    width: 200px;
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
}

#status h2, #status h3 {
    background: #666;
    border-bottom: 2px solid #333;
    color: #fff;
    margin: 0;
    padding: 3px;
    text-align: center;
}

#status dl {
    margin: 0;
    padding: 0;
}

#status dt, #status dd {
    padding: 3px;
}

#status dt {
    display: block;
    float: left;
    clear: left;
    width: 124px;
}

#status dd {
    margin-left: 0;
    display: block;
    float: left;
    width: 64px;
    font-weight: bold;
}

#status .progress {
    font-weight: bold;
    background: green;
    color: #fff;
    border-top: 2px solid #333;
}

a {
    color: #222;
    text-decoration: none;
    border-bottom: 1px dotted #aaa;
}

#releases li {
    margin-bottom: 5px;
}

#releases .error {
    font-style: italic;
    color: red;
}

.multicol {
    -moz-column-width: 250px;
    -webkit-column-width: 250px;
    -moz-column-gap: 20px;
    -webkit-column-gap: 20px;
    -moz-column-count: 3;
    -webkit-column-count: 3;
}
