<h2>Validation Tools</h2>
<h3>Online Validator</h3>
<form method=post id=validator>
<textarea name=c></textarea>
<input type=submit class=submit value=Validate>
</form>
<h3>Other Tools</h3>
<ul>
    <li><a href="http://search.cpan.org/perldoc?Test::CPAN::Changes">Test::CPAN::Changes</a> - Helps you automate the testing of your changelog</li>
    <li><a href="http://search.cpan.org/dist/Dist-Zilla-Plugin-CPANChangesTests/">Dist::Zilla::Plugin::CPANChangesTests</a> - Integrate Test::CPAN::Changes with your Dist::Zilla-based distribution</li>
</ul>
